<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Confirmation</title>

    <style>



      body { background-color: #000; }
      .mail-container { width: 600px; min-height: 400px; margin: 24px auto;
      background-color: #616161; } .main-table { width: 100%; background-color:
      #f7ece9; color: #281716; } .content-table { padding: 0 24px; width: 100%;
       color: #281716; } .header { width:
      100%; height: 64px; background-color: #281716; color: #f7ece9; font-size:
      64px; } .greet { vertical-align: top; max-width: 191px; color: #281716;
      font-size: 18px; } .greet-header { font-size: 32px; font-weight: 600;
      color: #281716; } .greet-img--container { height: 190px; width: 190px; }
      .img { width: 100%; height: 100%; object-fit: cover; } .text-enphasis {
      color: #185500; } .btn { background-color: #281716; padding: 12px 16px;
      border-radius: 8px; border: none; font-weight: 600; color: #f7ece9;
      cursor: pointer; } .book-cover { width: 140px; height: 200px; } .book-info{ padding-left: 24px;} .book-title { font-size: 24px; color: #281716; }
      .book-author { color: #616161; font-size: 18px; } @media (max-width:
      600px) { .mail-container { width: 320px; } .hide-mobile { display: none; }
      .full-mobile { max-width: 100%; width: 100%; } .book-cover{ width: 100px;
      height: 153px; } .book-info{ padding-left: 16px;} .book-title{ font-size: 16px; } .book-author{ font-size:
      14px; } }

    </style>
  </head>
  <body>
    <div class="mail-container">
      <table class="main-table">
        <tr>
          <td style="font-family: Georgia, serif !important;" align="center" class="header" colspan="12">Iboox</td>
        </tr>
        <tr>
          <table class="content-table">
            <tr height="64px"></tr>
            <tr>
              <td style="font-family: Georgia, serif !important;" class="greet full-mobile">
                <span style="font-family: Georgia, serif !important;" class="greet-header">Olá, {{name}}!</span>
                <br />
                <br />
                <br />
                <span class="greet">Dando uma passadinha para avisar que nós
                  <span class="text-enphasis">recebemos o seu pedido</span>!</span>
                <br />
                <br />
                <br />
                <button style="font-family: Georgia, serif !important;" class="btn">Quer fazer outro?</button>
              </td>
              <td align="right" class="hide-mobile">
                <div class="greet-img--container" width="190" height="190">
                  <img
                    class="img"
                    style="border-radius: 8px;"
                    width="190"
                    height="190"
                    src="https://user-images.githubusercontent.com/71194923/176066674-5cce2134-5ce9-4d1a-96e0-9d1607750008.jpg"
                  />
                </div>
              </td>
            </tr>
            <tr height="80px"></tr>
            <tr>
              <td>
                <span style="font-family: Georgia, serif !important;" class="greet-header">Seu pedido:</span>
              </td>
            </tr>
            <tr height="40px"></tr>
            {{#each requests}}
              <tr>
                <td colspan="12">
                  <table class="content-table">
                    <tr>
                      <td width="190px">
                        <div class="book-cover">
                          <img src={{this.image}} class="img" />
                        </div>
                      </td>

                      <td class="book-info" style="font-family: Georgia, serif !important; vertical-align: top; width: 100%;">
                        <span class="book-title">{{this.book_title}}</span>
                        <br />
                        <br />
                        <br />
                        <span class="book-author">{{this.author}}</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr height="40px"></tr>
            {{/each}}
                <tr>

                  <td colspan="12">
                  <table class="content-table">
                    <tr height="80px"></tr>
                    <tr>
                      <td colspan="12">
                        <span style="font-size: 18px; font-family: Georgia, serif !important;">Após a separação, você
                          recebe tudo em sua casa
                          <span class="text-enphasis">dentro de dois dias</span>!</span>
                      </td>
                      <tr height="120px"></tr>
                      <td align="center">
                        <span
                          style="font-weight: 700; font-size: 18px; font-family: Georgia, serif !important;"

                        >♡ Obrigado! ♡</span>
                      </td>
                    </tr>
                    <tr height="40px"></tr>
                  </table>
                </tr>
                </td>
              </tr>
          </table>
        </tr>
      </table>
    </div>
  </body>
</html>