footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 64px;
  padding: 0 16px;
  background-color: var(--main);
  color: var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
    justify-content: center;
  }
}
