<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>📚 Iboox | Compartilhe a sua paixão</title>

    <!-- External font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=PT+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Finlandica&family=IM+Fell+DW+Pica&family=PT+Serif&display=swap"
      rel="stylesheet"
    />
    <!-- My custom styles -->
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <script src="scripts/index.js"></script>
  </head>

  <body class="bg-neutral">
    <header class="text-neutral bg-main fade">
      <h1>📚 Iboox</h1>
      <nav>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li>
            <a href="https://github.com/lupus-magnus/iboox" target="_blank"
              >Repo</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="welcome">
        <div class="welcome-text">
          <div style="display: flex">
            <h2 style="display: inline" id="typewritter"></h2>
          </div>
          <p>
            A Iboox é a maior plataforma virtual de trocas de livros usados do
            mundo. Descubra novos universos e compartilhe a sua paixão com
            outras pessoas.
          </p>
          <div class="buttons">
            <a href="/docs">
              <button class="btn bg-main text-neutral">Documentation</button>
            </a>
            <a href="https://github.com/lupus-magnus/iboox" target="_blank">
              <button class="btn bg-gray text-neutral">Repo</button>
            </a>
          </div>
        </div>
        <div class="img-frame">
          <img
            class="img hidden-touch"
            src="assets/reading.jpg"
            alt="library"
          />
        </div>
      </div>
    </main>
    <footer class="fade">
      <p>
        Disclaimer: O Iboox é um produto fictício, não havendo envio real de
        livros.
      </p>
    </footer>
  </body>
</html>
